<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Day.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>580AB4EA1F676DAA0070B2A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>580AB4FE1F676DAA0070B2A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>580AB5091F676DAA0070B2A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
